h1 {
	color: #600404;
	font-family: Arial, Sans-Serif;
}

p, li {
	color: #302929;
	font-family: Arial, Sans-Serif;
}

a:link {
    color: #2950D6;
}

/* visited link */
a:visited {
    color: #2950D6;
}

/* mouse over link */
a:hover {
    color: #2950D6;
}

/* selected link */
a:active {
    color: #2950D6;
}

body {
	background-color: #9D9D9D;
	margin: auto;
	width: 50%;
}